
* {
    box-sizing: border-box;
  }
 
  h1{
    text-align: center;
  }
  section{
    position: relative;
    padding: 15px;
    width: 100%;
  }

  p{
    position: relative;
    clear: right;
  }

  div{
    position: relative;
    background-color: gray;
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }

  .content{
    padding: 8px;
    overflow: auto;
    height: 150px;
    font-size: 125%;
  }

  .chicken{
    width:100px;
    float: right;
    padding: 5px;
    border: 1px solid black;
    margin: 0px;
    text-align: center;
    font: 125%;
    font-weight: bold;
    background-color: brown;
  }

  .sushi{
    width: 100px;
    float: right;
    padding: 5px;
    border: 1px solid black;
    margin: 0px;
    text-align: center;
    font: 125%;
    font-weight: bold;
    background-color: blueviolet;
  }

  .beef{
    color:white;
    width: 100px;
    float: right;
    padding: 5px;
    border: 1px solid black;
    margin: 0px;
    text-align: center;
    font: 125%;
    font-weight: bold;
    background-color: chocolate;
  }

@media (min-width: 992px){
  .col-lg-4{
    float: left;
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width:991px){
  .col-md-6{
    float: left;
    width: 50%;
  }

  .col-md-12{
    float:left;
    width: 100%;
  }
}

@media (max-width:767px){
  .col-sm-12{
    float: left;
    width: 100%;
  }
}